*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .2s  ease-in-out;
}


@media screen and (min-width: 300px){
    body, html{
        width: 375px;
        height: 100vh;
    }

    .df1-page-wrapper1, .df1-page-wrapper2{
        width: 375px;
        height: 100vh;
        display: table;
        background-color: #060809;
    }


    /*------TOPBAR-------*/

    .df1-topbar{
        width: 375px;
        height: 58px;
        display: block;
        background-color: #060809;
        position: fixed;
        left: 0;
        z-index: 2000;
    }

    .df1-logo{
        width: 134px;
        height: 32px;
        float: left;
        margin-left: 20px;
        margin-top: 14px;
        cursor: pointer;
    }
   
    .df1-logo-black{    
        display: none;
    }

    .df1-menu{
        display: none;
    } 

    .df1-login a{
        display: none;
    }   

    .df1-switch {
        appearance: none;
        width: 40px;
        height: 20px;
        background-color: #707070;
        border-radius: 50px;
        position: absolute;
        right: 60px;
        top: 20px;
        cursor: pointer;
        transition: .3s;
      }
      .df1-switch::before {
        content: "";
        position: absolute;
        width: 15.5px;
        height: 15.5px;
        background-color: #d5d5d5;
        border-radius: 50%;
        left: 4px;
        top: 2px;
        transition: .3s;
      }
      .df1-switch:checked {
        background: linear-gradient(91deg, #b40576c0, #4b00ffd4);
      }
      .df1-switch:checked:before {
        background: #000;
        left: 20px;
      }

    .df1-menu-hamb-dark{
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 22px;
        font-weight: 700;
        text-decoration: none;
        color: #FFFFFF;
    }


        /*---------SECTION 1------*/
            
        .df1-first-section{
            display: flex;
        }

        .df1-display-text{
            width: 335px;
            font-size: 32px;
            line-height: 43px;
            display: table;
            margin: 108px 0 0 20px;
        }

        #df1-text-size{
            font-size: 32px;
            line-height: 43px;
        }

        .df1-box-refer{
            width: 257px;
            height: 32px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;
            border-radius: 16px;
            background-color: #f7f5ff;
            font-size: 14px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            margin-bottom: 16px;
        }

        .df1-box-refer:hover{
            transform: translateX(5px);
        }

        .df1-box-new{
            width: 53px;
            height: 24px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around;
            border-radius: 16px;
            background-color: #7f56d9;
        }

        .df1-appStore{
            width: 142px;
            height: 50px;
            display: inline-block;
            margin-top: 32px;
            transition: all .2s ease-in-out;
        }

        .df1-playStore{
            width: 142px;
            height: 50px;
            display: inline-block;
            margin-left: 20px;
            margin-top: 32px;
            transition: all .2s ease-in-out;
        }

        .df1-appStore:hover{
            transform: translateY(3px);
        }
    
        .df1-playStore:hover{
            transform: translateY(3px);
        }

        .df1-text-subtittle{
            margin-top: 16px;
            font-size: 16px;
            line-height: 30px;
        }

        .df1-card{
            display: none;
        }

        .df1-image-cards{
           margin-top: 70px;
           margin-bottom: 60px;
        }


        /*-------CENTER-------*/

    .df1-center-text{
        margin-top: 70px;
        display: flex;
        justify-content: star;
        margin: 0 53px;
        color: #E7E7E7;
    }
        
    .df1-logos-center{
        width: 375px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px 0px 0 20px;
   }

    #df1-Stripe{
        width: 42px;
        height: 18px;
        margin-right: 54px ;
    }

    #df1-Orfium{
        width: 90px;
        height: 17px;
        margin-right: 57px ;
    }
    
    #df1-Kinstae{
        width: 88px;
        height: 17px;
    }

    #df1-Bankable{
        width: 103px;
        height: 17px;
        margin-top: 25px;
        
    }
    
    #df1-Nowsports{
        width: 79px;
        height: 17px;
        margin-top: 25px;
        margin-right: 61px;
        margin-left: 60px;
    }

    .df1-align-tittle{
        width: 335px;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 130px;
        align-content: center;
    }

    .df1-tittle-section2{
        font-size: 20px;
    }
  
    /*----SECTION 2------*/

    .df1-grid{
        width: 335px;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
        color: #E7E7E7;
    }

    .df1-horGrid{
        width: 843px;
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .df1-box1{
        width: 335px;
        height: 316px;
        margin-bottom: 28px;
        border-radius: 24px;
        background-color: #1B1C20;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }

    .df1-box2{
        margin-left: 0px;
        width: 335px;
        height: 575px;
        border-radius: 24px;
        background-color: #1B1C20;
        margin-top: 0px;
        padding-top: 1px;
        box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
    }

    .df1-text-grid{
        width: 277px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;
        font-size: 16px;
        text-align: center;
       
        margin-left: 30px;
        padding-top: 20px;
        justify-content: space-around;
    }

    .df1-align-images-grid{
        display: flex;
        justify-content: space-around;
    }
    .df1-align-images-grid2{
        margin-left: 54px;
        margin-top: 85px ;
    }
    
    #df1-align-images-grid{
        margin-left: 80px;
    }

    .df1-card-container{
        display: none;
    }


    /*--------SECTION 3--------*/
  
    .df1-big-card-gray{
        width: 335px;
        height: 802px;
        border-radius: 26px;
        margin: 64px 0px 64px 20px;
        background-color: #1B1C20;      
        position: relative;
        z-index: 100;
    }

    #df1-text-subtittle-3{
        width: 295px;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: 16px;
        color: #B8B8B8;
        line-height: 30px;
        position: relative;
        z-index: 500;
    }

    .df1-btn{
        width: 150px;
        height: 50px;
        display: flex;
        position: absolute;
        text-align: center;
        font-weight: 600;
        transition: all 0.2s ease-out;
        background-color: #FFFFFF;
        padding: 15px 26px 16px 28px;
        border-radius: 405px;
        margin-top: 16px;
        margin-left: 20px;
        align-items: center;
        justify-content: space-around;
        z-index: 600;
    }

    .df1-btn:hover{
        background-color: #7f56d9;
        color: #E7E7E7;
        transform: translateX(5px);
    }

    .df1-card-container-mobile{
        position: absolute;
        left: 0;
        bottom: 6px;
        z-index: 100;
    }

    .df1-card-container{
        display:none;
    }
    
    .df1-textsize{
        font-size: 24px;
        margin-left: 20px;
        padding-top: 50px;
        width: 295px;
    }

     /*----FOOTER----*/

     .df1-footer{
        width: 375px;
        height: 289px;
        position: relative;
        background-color: #0B0C0D;
        ;
    }
    
    .df1-cadena-footer-dark,  .df1-cadena-footer-light{
       position: absolute;
       top: 40px;
       left: 120px;
    }

    .df1-cadena-footer-light{
        display: none;
    }


    .df1-line{
        width: 335px;
        height: 1px;
        background-color: #A0AEC0;
        position: absolute;
        top: 120px;
        left: 20px;
     }



    .df1-icons-footer-dark, .df1-icons-footer-light{
        position: absolute;
        bottom: 114px;
        left: 25px;
    }

    .df1-icons-footer-light, .df1-social-desktop{
        display: none;
    }

    .df1-social-mobile{
        display: block;
    }
    

    .df1-text-footer{
        width: 303px;
        position: absolute;
        bottom: 40px;
        left: 36px;
        text-align: center;
    }

   

}

@media screen and (min-width: 992px){
   
    .df1-page-wrapper{
        width: 1440px;
    }
 
    /*---------TOPBAR-----------*/
   
    .df1-topbar{
        width: 1440px;
        height: 85px;
    }
  
    .df1-logo{
        width: 134px;
        height: 32px;
        float: left;
        margin-left: 112px;
        margin-top: 24px;
        cursor: pointer;
    }
  
    .df1-menu-hamb-dark{
        display: none;   
    }

    .df1-menu{
        display: table;
        float: left;
    }

    .df1-menu a{
        padding: 0 16px 0 16px;
        font-size: 16px; 
        text-decoration: none;
        display: inline-block;
        margin-top: 28px;
        font-weight: 500;
        position: relative;
        line-height: 24px;
    }

    .df1-menu a:first-child{
        margin-left: 34px;
    }

    .df1-menu a:hover{
        color: #996aff;
    }

    .df1-menu a:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: #712FFF;
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
    }

    .df1-menu a:hover:before{
        transform: scale(1, 1);
    }

    .df1-switch {
        right: 320px;
        top: 31px;
    }

    .df1-login a{
        display: inline-block;
        position: absolute;
        right: 108px;
        top: 18px;
        font-weight: 700;
        text-decoration: none;
    }

    .df1-login a:first-child{
        right: 219px;
        top: 28px;
        padding: 0 16px 0 16px;
    }

    .df1-login a:hover{
        color: #996aff;
    }

    .df1-login a:first-child:before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: #712FFF;
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
    }

    .df1-login a:hover:before{
        transform: scale(1, 1);
    }


    .df1-btn-singup{
        display: block;
        color: #383A47;
        padding: 10px 18px 10px 18px;
        border-radius: 8px;
        background-color: #FFFFFF;
        transition: all .2s ease-in-out;
        z-index: 5000;
    }

    .df1-btn-singup:hover{
        background-color: #712FFF;
        color:#FFFFFF;
    }
    
   

    /*---------SECTION 1---------*/  
    
    #df1-text-size{
        font-size: 44px;
        line-height: 59px;
    }
        
    .df1-display-text{
        width: 489px;
        display: table;
        margin: 252px 0 0 112px;
        font-size: 44px;
        line-height: 60px;
     }

     .df1-text-subtittle{
        font-size: 20px;
    }

    .df1-appStore{
        width: 178px;
        height: 60px;
        display: inline-block;

    }

    .df1-playStore{
        width: 178px;
        height: 60px;
        display: inline-block;
        margin-left: 15px;
       
    }

    .df1-card{
        display: flex;
        justify-content: end;
        width: 605px;
        margin: 144px 112px 0 122px;
        position: relative;
    }


    .df1-image-cards{
        display: none;
    }

    .df1-visacard{
        width: 343px;
        height: 80px;
        border-radius: 20px;
        background-color: #FFFFFF;
        font-size: 14px;
        margin: 0 31px 0 0;
        position: relative;
    }

    #df1-logo-mastercard{
        position: absolute;
        display: inline-block;
        top: 31px;
        left: 20px;
        line-height: 7px;
    }

    .df1-text-visa{
        margin: 7px 0 0 65px;
        width: 130px;
    }

    .df1-text-visa:first-child{
        margin-top: 17px;
    }
   
    .df1-valor-visa{
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .df1-big-card{
        width: 547px;
        height: 334px;
        position: absolute;
        right: 0;
        top: 168px;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .df1-content-images{
        position: absolute;
        right: 31px;
        top: 14px
    }

    .df1-debitCard{
        position: absolute;
        left: -148px;
        top: 90px;
    }

    .df1-logo2{
        position: absolute;
        left: 69px;
        bottom: 42px;
    }

    .df1-textPay{
        color: #a0aec0;
        position: absolute;
        left: 90px;
        bottom: 76px;
        text-align: center;
        line-height: 16px;
        letter-spacing: 0.08em;
    }

    .df1-iconCard{
        position: absolute;
        left: 250px;
        top:  101px;
        z-index: 500;
    }

    .df1-iconChecked{
        position: absolute;
        left: 96px;
        bottom: -54px;
        z-index: 500;
    }

    .df1-pinkBox{
        width: 195px;
        height: 106px;
        border-radius: 0 0 8px 8px;
        position: absolute;
        left: 100px;
        bottom: -102px;
        background-color: #EBBCAD;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .df1-textPinkCard{
        font-size: 40px;
        justify-content: center;
        align-items: end;
    }
    
    /*---Center---*/

    .df1-center-text{
        margin-top: 164px;
        display: flex;
        justify-content: center;
        
    }
    
    .df1-logos-center{
        width: 1440px;
        display: flex;
        justify-content: space-around;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 57px;
        padding-top: 0;
    }


    #df1-Stripe{
        width: auto;
        height: auto;
        margin: 0;
    }

    #df1-Orfium{
        width: auto;
        height: auto;
        margin: 0;
    }
    
    #df1-Kinstae{
        width: auto;
        height: auto;
    }

    #df1-Bankable{
        width: auto;
        height: auto;
        margin: 0;
        
    }
    
    #df1-Nowsports{
        width: auto;
        height: auto;
       margin: 0;
    }


    /*--------SECTION 2--------*/


    .df1-align-tittle{
        width: 708px;
        margin-left: 365px;
        margin-top: 0;
    }               

    .df1-tittle-section2{
        margin-top: 153px;
        font-size: 43px;
    }
    
    .df1-span-section{
        padding-left: 5px;
    }

    .df1-span-section10{
        padding-left: 10px;
    }


    .df1-grid{
        width: auto;
        margin-left: 80px;
        margin-right: 80px;
    }

    .df1-text-grid{
        margin-left: 65px;
    }

    .df1-box1{
        width: 406px;
        height: 316px;
        margin-bottom: 25px;
    }

    .df1-box2{
        width: 408px;
        height: 660px;
        margin-top: 52px;
        margin-left: 29px
    }

    /*------SECTION 3-------*/
   
    .df1-big-card-gray{
        width: 1280px;
        height: 671px;
        margin: 96px 80px;
        width: 1280px;
        height: 671px;
    }

    .df1-textsize{
        width: 432px;
        padding-left: 32px;
        padding-top: 108px;
        font-size: 43px;
        margin: 0;
    
    }

    #df1-text-subtittle-3{
        width: 510px;
        font-size: 20px;
        padding-left: 32px;
        margin: 0;
     
    }

    .df1-btn{
        width: 163px;
        height: 56px;
        margin-left: 32px;
        margin-top: 106px;
    }


    .df1-card-container{
       display: block;
        position: absolute;
        top: -1px;
        z-index: 100;
    }
    
    .df1-card-container-mobile{
        display: none;
    }

    
   
    /*----FOOTER----*/

    .df1-footer{
        width: 1440px;
        height: 128px;
        background-color: #060809;
        position: relative;
    }

    .df1-icons-footer-dark, .df1-icons-footer-light{
        position: absolute;
        top: 54px;
        left: 112px;
    }
    

    .df1-cadena-footer-dark, .df1-cadena-footer-light{
        position: absolute;
        bottom: 48px;
        left: 639px;
    }

    .df1-social-desktop{
        display: block;
    }

    .df1-social-mobile{
        display: none;
    }

    .df1-text-footer{
        width: 348px;
        display: inline;
        position: absolute;
        top: 52px;
        left: 980px;
    }
   
    .df1-line{
        display: none;
    }
 
}



/*BOTÕES*/

.df1-image-setinha-white, .df1-image-setinha-black{
    width: 7px;
    height: 12px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.df1-image-setinha-black{
    display: none;
}


/* CLASSES UTILITARIA*/
.df1-mar-15{
    margin: 15px;
}

.df1-mar-top-15{
    margin-top: 15px;
}

.df1-mar-right-15{
    margin-right: 15px;
}

.df1-mar-bot-15{
    margin-bottom: 15px;
}

.df1-mar-left-15{
    margin-left: 15px;
}

.df1-pad-15{
    padding: 15px;
}

.df1-pad-top-15{
    padding-top: 15px;
}
.df1-pad-top-30{
    padding-top: 30px;
}

.df1-pad-right-15{
    padding-right: 15px;
}

.df1-pad-bot-15{
    padding-bottom: 15px;
}

.df1-pad-left-15{
    padding-left: 15px;
}

.df1-full-height{
    height: 100vh;
}


.df1-text-sat{
    font-family: 'Satoshi', sans-serif;
}

.df1-text-inter{
    font-family: 'Inter', sans-serif;
}

.df1-text-bold{
    font-weight: 700;
}

.df1-text-regular{
    font-weight: 500;
}

.df1-text-size-12{
    font-size: 12px;
}

.df1-text-size-20{
    font-size: 20px;
}

.df1-text-size-15{
    font-size: 15px;
}


/*-----CORES DE TEXTO------*/

.df1-text-white{
    color: #FFFFFF;
}

.df1-text-purple{
    color: #712FFF;
}

.df1-text-gray{
    color: #797B89;
}

.df1-text-softgray{
    color: #e7e7e7;
}

.df1-text-gray2{
    color: #B8B8B8;
}

.df1-text-383A47{
    color: #383A47;
}

.df1-text-black{
    color: #1B1C20;
}

.df1-text-060809{
    color: #060809;
}

/*----CORES BACKGROUD------*/

.df1-backGround-color-white{
   background-color: #FFFFFF;
}

.df1-backGround-color-purple{
   background-color: #712FFF;
}

.df1-backGround-color-gray{
   background-color: #797B89;
}

.df1-backGround-color-softgray{
   background-color: #e7e7e7;
}

.df1-backGround-color-gray2{
   background-color: #B8B8B8;
}

.df1-backGround-color-383A47{
   background-color: #383A47;
}

.df1-backGround-color-black{
   background-color: #1B1C20;
}

.df1-backGround-color-060809{
   background-color: #060809;
}

.df1-backGround-color-FAF8F5{
    background-color: #FAF8F5;
}



.df1-tittle-grid {
    font-weight: 400;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.df1-text-light{
    font-weight: 400;
}

.df1-full-height{
    height: 100vh;
}

.df1-mar-top-85{
    margin-top: 85px;
}

/* CLASSES COMPORTAMENTO*/


.df1-cursor-pointer{
    cursor: pointer;
}

.df1-is-open{
    display: block;
}

.df1-changeicon{
    background-position-y: -45px;
}

.df1-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

